* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  font-family: Spartan, Arial;
  position: relative;
  transition: background 300ms ease;
}

.theme-1-bg {
  background: var(--theme-1-bg);
}

.theme-2-bg {
  background: var(--theme-2-bg);
}

.theme-3-bg {
  background: var(--theme-3-bg);
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  animation: backDrop 500ms ease;
}

.content-wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
  display: grid;
  gap: 1rem;
}

.theme-1-color {
  color: var(--white);
}

.theme-2-color {
  color: var(--theme-2-grayellow);
}

.theme-3-color {
  color: var(--theme-3-lightyellow);
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.switch {
  font-size: 0.8rem;
}

.switch h3,
.slide {
  display: inline-block;
}

.switch h3 {
  margin-right: 1rem;
}

.switch-toggle {
  display: inline-block;
}

.switch-nums {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.slide {
  width: fit-content;
  border: 1px solid;
  position: relative;
  border-radius: 0.7rem;
  transition: background 300ms ease;
}

.theme-1-slide {
  background: var(--theme-1-tgkp);
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%) inset,
    -3px -3px 5px 0 rgb(255 255 255 / 20%) inset;
}

.theme-2-slide {
  background: var(--theme-2-tgkp);
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%) inset,
    -3px -3px 5px 0 rgb(255 255 255 / 20%) inset;
}

.theme-3-slide {
  background: var(--theme-3-tgkpsbg);
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%) inset,
    -3px -3px 5px 0 rgb(255 255 255 / 20%) inset;
}

.slider {
  position: absolute;
  left: 3px;
  bottom: 4px;
  width: 0.9rem;
  height: 0.8rem;
  background-color: var(--theme-1-keytg);
  box-shadow: 2px 2px 3px var(--theme-1-keytgsw);
  transition: all 300ms ease;
}

.dark-gray {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translateX(0) rotateZ(-45deg);
}

.light {
  border-radius: 50%;
  background-color: var(--theme-2-keytg);
  box-shadow: 1px 1px 2px var(--theme-2-keytgsw);
  transform: translateX(1.6rem);
}

.magenta {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: var(--theme-3-keytg);
  box-shadow: 1px 1px 2px var(--theme-3-keytgsw);
  transform: translateX(3.3rem) rotateZ(45deg);
}

.box {
  height: 1rem;
  width: 1.4rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.screen input {
  position: relative;
  width: 100%;
  padding: 1.5rem 0.5rem;
  outline: none;
  border: none;
  font-size: 2rem;
  text-align: right;
  font-family: Spartan, Arial;
  border-radius: 0.8rem;
  color: inherit;
  transition: background 300ms ease;
}

.theme-1-screen {
  background: var(--theme-1-screen);
  box-shadow: -8px -8px 6px 0 rgb(0 0 0 / 20%) inset,
    4px 4px 6px 0 rgb(255 255 255 / 20%) inset;
}

.theme-2-screen {
  background: var(--theme-2-screen);
  box-shadow: -8px -8px 6px 0 rgb(0 0 0 / 20%) inset,
    10px 10px 6px 0 rgb(255 255 255 / 20%) inset;
}

.theme-3-screen {
  background: var(--theme-3-tgkpsbg);
  box-shadow: -8px -8px 6px 0 rgb(0 0 0 / 20%) inset,
    5px 5px 6px 0 rgb(255 255 255 / 20%) inset;
}

.keys-wrapper {
  padding: 2rem;
  border-radius: 0.8rem;
}

.theme-1-kwrapper {
  background: var(--theme-1-tgkp);
  box-shadow: -8px -8px 5px 0 rgb(0 0 0 / 20%) inset,
    8px 8px 5px 0 rgb(255 255 255 / 20%) inset;
}

.theme-2-kwrapper {
  background: var(--theme-2-tgkp);
  box-shadow: -10px -10px 5px 0 rgb(0 0 0 / 20%) inset,
    10px 10px 5px 0 rgb(255 255 255 / 20%) inset;
}

.theme-3-kwrapper {
  background: var(--theme-3-tgkpsbg);
  box-shadow: -4px -4px 4px 0 rgba(87, 87, 87, 0.7) inset,
    4px 4px 5px 0 rgb(255 255 255 / 20%) inset;
}

.keys-wrapper .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.keys-wrapper .keys button {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 300ms ease;
}

.theme-1-button {
  color: var(--theme-1-grayblue);
  background: var(--theme-1-kb);
  box-shadow: 0px 5px 0px var(--theme-1-ks);
}

.theme-2-button {
  color: inherit;
  background: var(--theme-2-kb);
  box-shadow: 0px 5px 0px var(--theme-2-ks);
}

.theme-3-button {
  color: inherit;
  background: var(--theme-3-kb);
  box-shadow: 0px 5px 0px var(--theme-3-ks);
}

.theme-unique {
  color: var(--white);
}

.theme-1-same {
  background: var(--theme-1-keybg);
  box-shadow: 0px 5px 0px var(--theme-1-keysw);
}

.theme-2-same {
  background: var(--theme-2-keybg);
  box-shadow: 0px 5px 0px var(--theme-2-keysw);
}

.theme-3-same {
  background: var(--theme-3-keybg);
  box-shadow: 0px 5px 0px var(--theme-3-keysw);
}

#reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

#equals {
  grid-column-start: 3;
  grid-column-end: 5;
}

.theme-1-equals {
  background: var(--theme-1-keytg);
  box-shadow: 0px 5px 0px var(--theme-1-keytgsw);
}

.theme-2-equals {
  background: var(--theme-2-keytg);
  box-shadow: 0px 5px 0px var(--theme-2-keytgsw);
}

.theme-3-equals {
  background: var(--theme-3-keytg);
  box-shadow: 0px 5px 0px var(--theme-3-keytgsw);
}

.notification {
  position: absolute;
  width: 24%;
  border: 1px solid;
  padding: 0.5rem;
  top: 2%;
  right: 1%;
  border-radius: 10px;
  background: rgba(255, 228, 196, 0.712);
  z-index: 3;
  animation: fromTop 500ms ease;
}

.notification h3,
.notification p {
  padding: 0.3rem 0;
}

.close {
  display: none;
}

.warning {
  height: 30px;
  position: absolute;
  right: 5%;
  top: 10%;
}

.devlink {
  padding: 0.5rem;
  text-align: center;
  color: inherit;
}

.devlink a {
  text-decoration: none;
  color: inherit;
}

@keyframes fromTop {
  from {
    top: -12%;
  }
  to {
    top: 2%;
  }
}

@keyframes backDrop {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 300px) and (max-width: 544px) {
  .content-wrapper {
    width: 90%;
  }
  .keys-wrapper {
    padding: 1rem;
  }
  .keys-wrapper .keys button {
    padding: 0.4rem;
  }
  .notification {
    right: 27%;
    top: 12%;
    width: 50%;
    background: rgba(255, 228, 196, 0.9);
  }
  @keyframes fromTop {
    from {
      top: -12%;
    }
    to {
      top: 12%;
    }
  }
}

@media (min-width: 545px) and (max-width: 880px) {
  .content-wrapper {
    width: 80%;
  }
  .notification {
    right: 40%;
  }
}
